@import "partials/_variables.scss";
@import "partials/_animations";
//@import "react-transitions/dist/animations.scss";





html { font-size: 1em;
  body { height: 100%;

     }
body {
  background-repeat:no-repeat;
  height: 100vh;
  font-family: sans-serif;
}


*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    width: auto;
    max-width: 60%;
    max-height: 20vh;
}


.wrapper {
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    //background-color: rgba(0, 111, 173, 0.5);
}

.wrapper:after,
.row:after {
      content: "";
      display: table;
      clear: both;
}
.container {
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  //background-color: rgba(0, 111, 173, 0.5);
  background-color: rgba(0, 0, 0, 0.1)
}
.WUlogo {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 5vh;
  max-width: 100%;
  margin: 0 auto;
  color: white;
  p{
    left:50px
  }
  img {
    display: block;
    max-height: 5vh;
    max-width: 20vw;
    margin: 0 auto;
  }
}

[class*='col-'] {
    float: left;
    padding: 0.5em;
    width: 100%;
    min-height: 1px;
    //border: 1px solid red;
}

.col-5 {
  height: auto;
  max-height: 40vh;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  left: 140px;
}
.col-3 {
  height: 100%;
  max-height: 30vh;
  margin-top: 3vh;
}

.submitForm {
//  margin: 0 auto;
 display: flex;
 flex-direction: column;
  //flex-wrap: wrap;
  align-items: center;
  justify-content: center;

//  padding: 25px;
//  width: 100%;

}
input[type=text] {
    display: block;
    //flex-wrap: wrap;
  //  align-items: center;
    //justify-content: center;
    //float: right;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    border-color: transparent;
    border-radius: 25px;
    color: white;
    font-size: 1.2em;
    //margin-right: 50px;
    padding: 15px;
    text-align: center;
    width: 40vw;
    max-width: 65vw;
}

input[type=text]:focus {
    width: 75%;
    max-width: 75vw;
    border-color: transparent;
    outline: none;
}
input [type=submit] {
  display: block;
  margin: 0 auto;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
  text-align: center;
  font-size: 1em;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
  text-align: center;
  font-size: 1em;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
  text-align: center;
  font-size: 1em;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
  text-align: center;
  font-size: 1em;
}

.btn {
  display: flex;
  width: 200px;
  flex-wrap: wrap;
  align-items: center;
  background-color: none;
  color: white;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
  padding-top: 30px;
  border-radius: 10px;
  font-size: 1em;

}

.myButton {
    background: none;
    //background: #a512b5;
    //background-image: -webkit-linear-gradient(top, #a512b5, #2980b9);
    //background-image: -moz-linear-gradient(top, #a512b5, #2980b9);
    //background-image: -ms-linear-gradient(top, #a512b5, #2980b9);
    //background-image: -o-linear-gradient(top, #a512b5, #2980b9);
    //background-image: linear-gradient(to bottom, #a512b5, #2980b9);
    -webkit-border-radius: 25;
    -moz-border-radius: 25;
    border-radius: 25px;
    border: 1px solid rgb(247, 247, 247);
    font-family: sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 0px 20px 0px 20px;
    text-decoration: none;

&:hover {
    //background: #751fab;
    background: #005999;
    //background-image: -webkit-linear-gradient(top, #751fab, #3498db);
    //background-image: -moz-linear-gradient(top, #751fab, #3498db);
    //background-image: -ms-linear-gradient(top, #751fab, #3498db);
    //background-image: -o-linear-gradient(top, #751fab, #3498db);
    //background-image: linear-gradient(to bottom, #751fab, #3498db);
    text-decoration: none;
  }

}
.submitButton {
  display: block;
}
.error {
  display: block;
  margin: 0 auto;
  height: 100%;
  max-width: 50vh;
}
.fluid{
   //width: auto;
  //max-width: 100%;
//  display: flex;
//  align-items: center;
//  justify-content: center;
  //align-self: center;
//  height: 60%;
//  max-width: 50vw;
//  margin-bottom: 50px;
}
.col-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50vw;
    height: 100%;

}
.mt-2 {
  display: flex;
  //flex-direction: column;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height:auto;
  //max-width: 40vw;
  p{
    font-size: 1.5em;
  }
}
.small-font{
  p{
    font-size: 1.5em;
  }
}
.big-font{
  font-size: 3.5em;
  color: white;
  display: flex;
  align-items: center;
//  height: 100%;
}

.second {
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  text-align: center;
  color: white;
}
.localization {
  display: flex;
  justify-content: center;
  align-items: center;
        p {
          text-align: center;
          font-size: 2.5em;
          color: white;
        }
        p:nth-child(2) {
          color: rgb(223, 176, 9);
          font-size: 1.5em;
        }
}
.col-1 {
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  p {
    margin-top: 10px;
  }
}
.col-12 {
  background-color: none;
  margin-top: 5%
}
.temp{
  display: flex;
  justify-content: center;
  p {
    display: inline-block;
    color: white;
    font-size: 4.5em;
    text-align: center;
  }
  .verticalLine {
      display: inline-block;
      border-left: 1px solid #c3d7eb;
      height: 50px;
      position: absolute;
      left: 50%;
      margin-left: -3px;
      top: 0;
  }
}
.firstDay {
  display: block;
  float: left;
  width: 33.3333333%;
  height: 100%;
  border-right: 1px solid rgba(228, 228, 228, 0.5);

  img {
    display: block;
    height:50%;
    width: 50%;
    max-width: 50%;

  }
}
.firstDayBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.secondDay {
  display: block;
  float: left;
  width: 33.3333333%;
  height: 100%;
  border-right: 1px solid rgba(228, 228, 228, 0.5);
  //float: right;

  img {
    display: inline-block;
    height: 50%;
    width: 50%;
    max-width: 50%;

  }
}

.thirdDay {
  display: block;
  float: left;
  width: 33.3333333%;
  height: 100%;
    //float: right;

  img {
    display: inline-block;
    height: 50%;
    width: 50%;
    max-width: 50%;
  }
}

.btn-group {
  vertical-align: top;
}
 label {
  cursor: pointer;
}
.text-primary .text-center .mt-2 {
  p {
    font-size: 1.5em;
    color:red;
    margin: 0 auto;
  }
}
h3{
  font-size: 1.5em;
  color: white;
  margin-bottom: 10px;
}
label.checkbox .toggle,
label.checkbox.inline .toggle {
	margin-left: -20px;
	margin-right: 5px;
}

.toggle {
	min-width:40px;
	height: 20px;
	position: relative;
	overflow: hidden;
}

.toggle-group {
	position: absolute;
	width: 200%;
	top: 0;
	bottom: 0;
	left: 0;
	transition: left 0.35s;
	-webkit-transition: left 0.35s;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.toggle.off .toggle-group {
	left: -100%;
}

.toggle-on {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 50%;
	margin: 0;
	border: 0;
	border-radius: 0;
}

.toggle-off {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	right: 0;
	margin: 0;
	border: 0;
	border-radius: 0;
}

.toggle-handle {
	position: relative;
	margin: 0 auto;
	padding-top: 0px;
	padding-bottom: 0px;
	height: 100%;
	width: 0px;
	border-width: 0 1px;
}

.toggle-handle.btn-mini  {
	top: -2px;
}

.toggle-handle.btn-xs {
	top: -2px;
}

.toggle.btn { min-width: 30px; }
.toggle-on.btn { padding-right: 24px; display: flex; align-items: center; }
.toggle-off.btn { padding-left: 24px; display: flex; align-items: center; }

.toggle.btn-large { min-width: 40px; }
.toggle-on.btn-large { padding-right: 35px; }
.toggle-off.btn-large { padding-left: 35px; }

.toggle.btn-lg { min-width: 40px; }
.toggle-on.btn-lg { padding-right: 35px; }
.toggle-off.btn-lg { padding-left: 35px; }


.toggle.btn-small { min-width: 25px; }
.toggle-on.btn-small { padding-right: 20px; }
.toggle-off.btn-small { padding-left: 20px; }

.toggle.btn-sm { min-width: 25px; }
.toggle-on.btn-sm { padding-right: 20px; }
.toggle-off.btn-sm { padding-left: 20px; }

.toggle.btn-mini { min-width: 20px; }
.toggle-on.btn-mini { padding-right: 12px; }
.toggle-off.btn-mini { padding-left: 12px; }

.toggle.btn-xs { min-width: 20px; }
.toggle-on.btn-xs { padding-right: 12px; }
.toggle-off.btn-xs { padding-left: 12px; }

.slow .toggle-group { transition: left 0.7s; -webkit-transition: left 0.7s; }
.fast .toggle-group { transition: left 0.1s; -webkit-transition: left 0.1s; }
.quick .toggle-group { transition: none; -webkit-transition: none; }



@media screen and (max-width: 500px) {
  .container {
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    margin: 0 auto;
    //background-color: rgba(0, 111, 173, 0.5);
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 0.75em;
  }
  img {
      width: auto;
      max-width: 30%;
      max-height: 30vh;
  }
  .toggle {
  	min-width: 5vw;
  	height: 5vh;
  	position: relative;
  	overflow: hidden;
  }
  .toggle.off .toggle-group {
  	left: -100%;
  }
  .col-5 {
    height: auto;
    max-height: 40vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 140px;
  }
}}
